.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
}

.page-content {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../images/bg-01.jpg');
  background-size:100% 100%;
  background-repeat: no-repeat;
  /* background-color: #FFFFFF;
  color: #fff;
  background: rgb(140,0,255);
  background: linear-gradient(90deg, rgba(140, 0, 255,1) 0%, rgba(232, 0, 211, 1) 20%, rgba(209, 0, 222, 1) 40%, rgba(186, 0, 233,1) 60%, rgba(163, 0, 244, 1) 80%, rgba(255,0,200, 1) 100%);
  background: rgb(245,0,252);
  background: linear-gradient(90deg, rgba(245,0,252,1) 0%, rgba(255,239,0,1) 50%, rgba(0,245,255,1) 100%);
  background: rgb(120,252,0);
  background: linear-gradient(90deg, rgba(120,252,0,1) 0%, rgba(255,239,0,1) 50%, rgba(0,255,230,1) 100%);
  background: -webkit-linear-gradient(110deg, #0afc00 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #00ffe6 66%, #ffc608 66%);
  background: -o-linear-gradient(110deg, #0afc00 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #00ffe6 66%, #ffc608 66%);
  background: -moz-linear-gradient(110deg, #0afc00 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #00ffe6 66%, #ffc608 66%);
  background: linear-gradient(110deg, #0afc00 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #00ffe6 66%, #ffc608 66%); */
  transition: background-color 200ms;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.checkbox.theme-toggle__checkbox:checked + label:after {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}
.checkbox.outline-toggle__checkbox:checked + label:after {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.theme-toggle__checkbox:checked ~ label {
  color: #4c4f59;
}

.theme-toggle__checkbox:checked ~ label:before {
  background-color: #292a30;
}

.theme-toggle__checkbox:checked ~ label:before, .theme-toggle__checkbox:checked ~ label:after {
  border-color: #4c4f59;
}

.theme-toggle__checkbox:checked ~ main {
  background-color: #1D1E22;
}

/* .theme-toggle__checkbox:checked ~ main .infinity__outline {
  stroke: #111214;
}

.outline-toggle__checkbox:checked ~ main .infinity__outline {
  opacity: 0;
} */

.label {
  position: absolute;
  left: 1rem;
  padding: 8px 0 0 60px;
  font-family: "Helvetica", sans-serif;
  font-size: 0.85rem;
  color: #636775;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.label.theme-toggle__label {
  top: 1rem;
}
.label.outline-toggle__label {
  top: 3.5rem;
}
.label:before, .label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 360px;
  -webkit-transition: background-color 200ms, -webkit-transform 200ms;
  transition: background-color 200ms, -webkit-transform 200ms;
  transition: background-color 200ms, transform 200ms;
  transition: background-color 200ms, transform 200ms, -webkit-transform 200ms;
}
.label:after {
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
}

/* .infinity {
  position: absolute;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  max-width: 800px;
}

.infinity path {
  fill: none;
  stroke-width: 10;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.infinity__outline {
  stroke: #f2f2f2;
  -webkit-animation: hover 4000ms linear infinite;
          animation: hover 4000ms linear infinite;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
}

.infinity__tracer {
  stroke-linecap: round;
  opacity: 0.8;
  animation: tracer 1000ms linear reverse infinite;
}
.infinity__tracer--1 {
  stroke: #F38181;
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-delay: -3960ms;
          animation-delay: -3960ms;
}
.infinity__tracer--2 {
  stroke: #FCE38A;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: -1980ms;
          animation-delay: -1980ms;
}
.infinity__tracer--3 {
  stroke: #E23E57;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-delay: -1320ms;
          animation-delay: -1320ms;
}
.infinity__tracer--4 {
  stroke: #95E1D3;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-delay: -990ms;
          animation-delay: -990ms;
}
.infinity__tracer--5 {
  stroke: #FFC4D0;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: -792ms;
          animation-delay: -792ms;
}
.infinity__tracer--6 {
  stroke: #00DFFC;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: -660ms;
          animation-delay: -660ms;
}

@-webkit-keyframes tracer {
  0% {
    stroke-dasharray: 0, 260;
    stroke-dashoffset: -234;
  }
  25% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  50% {
    stroke-dasharray: 43.3333333333, 260;
    stroke-dashoffset: -78;
  }
  65% {
    -webkit-transform: translateX(2px, -2px);
            transform: translateX(2px, -2px);
  }
  100% {
    stroke-dasharray: 4, 260;
    stroke-dashoffset: 0;
  }
}

@keyframes tracer {
  0% {
    stroke-dasharray: 0, 260;
    stroke-dashoffset: -234;
  }
  25% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  50% {
    stroke-dasharray: 43.3333333333, 260;
    stroke-dashoffset: -78;
  }
  65% {
    -webkit-transform: translateX(2px, -2px);
            transform: translateX(2px, -2px);
  }
  100% {
    stroke-dasharray: 4, 260;
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(2px) scale(1.02);
            transform: translateY(2px) scale(1.02);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(2px) scale(1.02);
            transform: translateY(2px) scale(1.02);
  }
} */